<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Entrust - Home Page </title>
		<meta charset="utf-8">
		<meta name="author" content="Z-Warriors">
		<link rel="shortcut icon" href="/static/ico/favicon.ico">
	    <link href="/static/css/bootstrap.css" rel="stylesheet">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
	    <link href="/static/css/style.css" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet" type="text/css">

	</head>
	
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<a href="/entrust-app/"> <img alt="140x140" src="/static/img/logo.png"/> </a>
		</div>
		<div class="span10">
			<br/>
		<a href="/entrust-app/signup" class="span2 btn btn-info btn-small pull-right" type="button">Sign up</a>
		<a href="/entrust-app/login" class="span2 btn btn-info btn-small pull-right" type="button">Login</a>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<img alt="" src="/static/media/people_helping_people1.gif" class="span12" style="height:300px; width:1200px;"/>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
			<img alt="140x140" src="/static/media/intracity.jpg" style="width:200px;height:200px" />
			<h2>
				Inter City
			</h2>
			<p>
				Perform tasks  across cities or even countries !
			</p>
		</div>
		<div class="span4">
			<img alt="140x140" src="/static/media/intercity_bus.jpg" style="width:200px;height:200px" />
			<h2>
				Intra City
			</h2>
			<p>
				Do jobs available within your city
			</p>
		</div>
		<div class="span4">
			<img alt="140x140" src="/static/media/services.jpg" style="width:200px;height:200px" />
			<h2>
				Neighbourhood
			</h2>
			<p>
				Provide services like gardening, restaurant pickup, house cleaning within your neighbourhood!
			</p>
		</div>
	</div>
<hr>
	<div class="row-fluid">
		<div class="span6">
			<ul>
				<li>
					<a href="#">Entrust in media</a>
				</li>
				<li>
					<a href="#">About us</a>
				</li>
				<li>
					<a href="#">Careers</a>
				</li>
			</ul>
		</div>
		<div class="span6">
			 <address> <strong>Entrust, Inc.</strong><br /> 5000 forbes Ave,<br /> Pittsburgh, PA 15213<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
		</div>
	</div>
</div>

    <link href="/static/css/footer.css" rel="stylesheet">
    <div id="footer" class="row_bottom span12">
      <div class="container-fluid">
        <p class="text-muted credit pull-center" style="padding-top:25px">Courtesy <a href="#">Sumaithri Mukkamalla & Arvind Balaji</a> as a part of Web Application Development <a href="http://www.cs.cmu.edu/~charlie/courses/webapps/2012-fall/"> (15-637) </a> course at <a href="http://www.cmu.edu"> CMU </a><a href="/entrust-app/resources">|| Resources ||</a></p>
      </div>
    </div>

	</body>
</html>
