<html>

<head>
    <link rel="shortcut icon" href="../media/favicon.ico">
    <title> Entrust - Resources </title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet" type="text/css">	
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/footer.css" rel="stylesheet">

</head>


<body>

	<div class="span4">
	</div>
	<a href="/entrust-app/" > <img alt="170x170" align="center" class="span4" src="/static/img/logo.png"/> </a>
	<div class="span4">
	</div>
	<div class="span12">
	</div>
	<div class="span4">
	</div>
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

	<h3 class="span12" style="margin-left:20px"> Resources that were used/helped directly/indirectly in building Entrust web application </h3>
	<h4 class="span4">

	<ul class="span8">
		<li style="margin-left:200px">
			<a href="http://www.cs.cmu.edu/~charlie/courses/webapps/2012-fall/"> Web Application Development (15-637) </a> 
		</li>
		<li style="margin-left:200px">
			<a href="http://www.w3schools.com/"> HTML, CSS, JavaScript </a> 
		</li>
		<li style="margin-left:200px">
			<a href="http://getbootstrap.com">Bootstrap</a>
		</li>
		<li style="margin-left:200px">
			For <a href="http://stackoverflow.com/questions/tagged/python">Python, SQL</a> and other <a href="https://piazza.com/class/hijpy9xk3u25js">misc. questions </a>when stuck!
		</li>
		<li style="margin-left:200px">
			<a href="http://cssfontstack.com/"> Fonts</a>
		</li>
		<li style="margin-left:200px">
			<a href="http://www.w3resource.com/twitter-bootstrap/dropdown.php">Dropdown menu</a>
		</li>
		<li style="margin-left:200px">
			<a href="http://infohound.net/tidy/">Tidy - HTML indetation</a>
		</li>
		<li style="margin-left:200px">
			<a href="http://catherinetenajeros.blogspot.com/2013/03/password-reset.html/">Password Reset - 1</a>
		</li>
		<li style="margin-left:200px">
			<a href="http://blog.xjtian.com/post/54552214875/built-in-password-reset-views-in-django/">Password Reset - 2</a>
		</li>
		<li style="margin-left:200px">
			<a href=" http://www.plugolabs.com/twitter-bootstrap-button-generator/"> Button generator </a>
		</li>
		<li style="margin-left:200px">
			<a href="http://www.newheart.com/people-helping-people">Image - People Helping People</a>

		</li>
		<li style="margin-left:200px">
			<a href="https://www.google.com/imghp">Other images - random Google image search</a>
		</li>
		</ul>

	</h4>

    <link href="/static/css/footer.css" rel="stylesheet">
    <div id="footer" class="row_bottom span12">
      <div class="container-fluid">
        <p class="text-muted credit pull-center" style="padding-top:25px">Courtesy <a href="#">Sumaithri Mukkamalla & Arvind Balaji</a> as a part of Web Application Development <a href="http://www.cs.cmu.edu/~charlie/courses/webapps/2012-fall/"> (15-637) </a> course at <a href="http://www.cmu.edu"> CMU </a><a href="/entrust-app/resources">|| Resources ||</a></p>
      </div>
    </div>

	<script src="//code.jquery.com/jquery.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
