{% extends "password_base.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}<div id="content-main">
<br><br><br><br>
<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote" align="center">
    {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h4 align="center"><B>{% trans 'Password change' %}</B></h4>

<p align="center"><B>{% trans "Please enter your old password and then enter your new password twice for verification" %}</B></p>

<fieldset class="module aligned wide">

<div class="form-row" align="center" style="margin-top:10px">
    {{ form.old_password.errors }}
 <B><label for="id_old_password" class="required">{% trans 'Old password' %}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label></B>{{ form.old_password }}
</div>

<div class="form-row" align="center" style="margin-top:10px">
    {{ form.new_password1.errors }}
  <B><label for="id_new_password1" class="required">{% trans 'New password' %}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label></B>{{ form.new_password1 }}
</div>

<div class="form-row" align="center" style="margin-top:10px">
{{ form.new_password2.errors }}
 <B><label for="id_new_password2" class="required">{% trans 'Retype Password' %}&nbsp&nbsp</label></B>{{ form.new_password2 }}
</div>

</fieldset>

<div class="submit-row" align="center" style="margin-top:10px">
    <input type="submit" class="btn btn-danger" value="{% trans 'Change my password' %}" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}
