{% extends "password_base.html" %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
<br><br><br><br>
<h4 align="center"><B>{% trans 'Password change successful' %}<B></h4>

<p align="center" ><B>{% trans 'Your password was changed.' %}<B></p>

{% endblock %}
