{% extends "password_base.html" %}
{% load i18n %}
{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
<br><br><br><br>
{% if validlink %}

<h4 align="center"><B>{% trans 'Enter new password' %}</B></h4>

<p align="center"><B>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</B></p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide" align="center"><B><label for="id_new_password1">{% trans 'New password' %}</label></B>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide" align="center"><B><label for="id_new_password2">{% trans 'Confirm password' %}</label></B>&nbsp&nbsp&nbsp{{ form.new_password2 }}</p>
<p align="center"><input type="submit" class="btn btn-danger" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<h4 align="center"><B>{% trans 'Password reset unsuccessful' %}</B></h4>

<p align="center"><B>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</B></p>

{% endif %}

{% endblock %}
